	body{
		background: #d2d2c1 url('fundo.png');
		font: 16px Arial , Helvet , sans-serif;
		text-align: center;
	}
	 
	 #principal {
	 	
	 	width: 1500px;

	 }
	 #menu {
	 	background: #c5c5b2;
	 	padding: 18px;
	 }
	 #conteudo{
	 	background: #e8e8d9;
	 	padding: 10px; 	
	 }
	 #rodape{
	 	text-align: center;
	 }

	 a {
	     color: #4b566a; 
	     text-decoration: none;
	     font-weight: bold;
	     padding: 5px;
	 }
	 .capa{
	 	
	 	width: 900px;

	 }
     .img-campanha{
     	border: 10px solid #c3c3ae;
     }
	 .centralizar{
	 	text-align: center;
	 }

	 h1 {
	 	color: #828271;
	 	font-size: 1.2em;
	 }

	 